<div class="container px-5 pt-5">
  <div class="col-md-10">
    <h4 class="bg-secondary col-3 text-white px-4 mb-5 text-center">会員情報編集</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%=form_with model: @customer do |f| %>
        <div class="field mb-2">
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-8">
                  <label for="name">名前</label>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="form-inline">
                <div class="row">
                 
                  <div class="col-lg-6">
                  
                    <%=f.text_field :last_name,autofocus: true,class: "form-control",id: "name" %>
                  </div>
            
                  <div class="col-6">
                  
                    <%=f.text_field :first_name,class: "form-control" %>
                  </div>
                  
              
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="field mb-2">
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-8">
                  <label for="name">フリガナ</label>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="form-inline">
                <div class="row">
                 
                  <div class="col-lg-6">
                  
                    <%=f.text_field :last_name_kana,autofocus: true,class: "form-control",id: "name_kana" %>
                  </div>
                  
                  <div class="col-6 ">
                  
                    <%=f.text_field :first_name_kana,class: "form-control" %>
                  </div>
                  
              
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="field mb-2">
          <div class="row">
            <div class="col-3">
              <label for="postal" class="control-label">郵便番号</label>
            </div>
            <div class="col-3">
              <%=f.text_field :postal_code,class: "form-control",id: "postal" %>
            </div>
          </div>
        </div>
        
        <div class="field mb-2">
          <div class="row">
            <div class="col-3">
              <label for="address">住所</label>
            </div>
            <div class="col-7">
              <%=f.text_field :address,class: "form-control",id: "address" %>
            </div>
          </div>
        </div>
        
        <div class="field mb-2">
          <div class="row">
            <div class="col-3">
              <label for="number">電話番号（ハイフンなし）</label>
            </div>
            <div class="col-3">
              <%=f.text_field :telephone_number,class: "form-control",id: "number" %>
            </div>
          </div>
        </div>
        
        <div class="field mb-2">
          <div class="row">
            <div class="col-3">
              <label for="email" class="control-label">メールアドレス</label>
            </div>
            <div class="col-3">
              <%= f.email_field :email, autocomplete: "email",class: "form-control",id: "email" %>
            </div>
          </div>
        </div>

        <div class="row"></div>
          <div class="col-md-12 text-center">
            <%=f.submit "編集内容を保存",class: "btn btn-success  col-3 mt-4 mr-5" %>
            <%=link_to "退会する",unsubscribe_customers_path,class: "btn btn-danger mt-4 ml-5" %>
            
          </div>

        </div>
　　    <% end %>
    </div>
</div>

