
<div class="container px-5 pt-5">
  <div class="col-md-10">
    <h4 class="bg-secondary col-3 text-white px-4 mb-5 text-center">商品新規登録</h4>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%=form_with model: @item,url: admin_item_path do |f| %>
      
      <div class="form_group mb-3">
        <div class="row">
          <div class="col-3">
            <label class="control-label">商品画像</label>
          </div>
          <div class="col-7">
            <%=f.file_field :image  %>
          </div>
        </div>
        
        
      </div>
      
      <div class="form_group mb-3">
        <div class="row">
          <div class="col-3">
            <label class="control-label">商品名</label>
          </div>
          <div class="col-7">
            <%=f.text_field :name,class: "form-control"%>
          </div>
        </div>
        
      </div>
      
      <div class="form_group mb-3">
        <div class="row">
          <div class="col-3">
            <label class=" control-label">商品説明</label>
          </div>
          <div class="col-7">
            <%=f.text_area :introduction,class: "form-control",size: "1x5" %>
          </div>
        </div>
        
      </div>
      
      <div class="form_group mb-3">
        <div class="row">
          <div class="col-3">
            <label class=" control-label">ジャンル</label>
          </div>
          <div class="col-7">
            <%=f.collection_select :genre_id,Genre.all, :id,:name,include_blank: "--選択して下さい--" %>
          </div>
        </div>
      </div>
      
      <div class="form_group mb-3">
        <div class="row">
          <div class="col-3">
            <label class=" control-label">税抜価格</label>
          </div>
          <div class="col-7">
            <%=f.text_field :price,class: "form-control" %>
          </div>
          <label class="col-2 text-left">円</label>
        </div>
      </div>
        
      
      
      <div class="form_group mb-3">
        <div class="row">
          <div class="col-3">
            <label class="control-label ">販売ステータス</label>
          </div>
          <div class="col-7 h5">
            <%= f.radio_button :is_active, :true%>
            <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
          </div>
        </div>
    
      </div>
      
      
      
      <div class="form_group text-center mt-3">
        <%=f.submit '変更を保存',class: "btn btn-success btn-lg col-4"%>
      </div>
        
      <%end%>
    
    </div>
  </div>
</div>