<div class="container px-5 pt-5">
  <h4 class="bg-secondary col-2 text-white px-4 mb-5">商品詳細</h4>
  <div class="row">
    
      
    <div class="col-md-4 ">
      <%=image_tag @item.get_image(300,300),class: "mx-5" %>
    </div>
      
      <div class="col-6">
      <table class="table table-borderless mt-5">
        <tbody>
          <tr class="my-1">
            <td class="h4">商品名</td>
            <td class="h4"><%=@item.name %></td>
          </tr>
          <tr>
            <td class="h4">商品説明</td>
            <td class="h4"><%=@item.introduction %></td>
          </tr>
          <tr>
            <td class="h4">ジャンル</td>
            <td class="h4"><%=@item.genre.name %></td>
          </tr>
          <tr>
            <td class="h4">
              税込価格<br>
              (税抜価格）
            </td>
            <td class="h4">
              <%=@item.add_tax_price.to_s(:delimited) %>
              (<%=@item.price.to_s(:delimited) %>)円
            </td>
          </tr>
          <tr>
            <td class="h4">販売ステータス</td>
            <td class="h4">
              <% if @item.is_active %>
                販売中
              <%else%>
                販売停止中
              <%end%>
            </td>
          </tr>
          
        </tbody>
    </table>
    <div class=" text-center mr-5">
      <%=link_to '編集する',edit_admin_item_path(@item.id),class: "btn btn-success btn-lg col-4"  %>
    </div>
    
    </div>
    
  </div>
</div>
