<div class="container pt-5">
  <div class="col-md-9">
    <h4 class="bg-secondary col-4 text-white px-0 mb-5 text-center">ジャンル一覧・追加</h4>
  </div>
  <div>
    <%=form_with model: @genre,url: admin_genrse_index_path do |f| %>
      <%=f.label :name,"ジャンル名" %>
      <%=f.text_field :name,class: "mx-5" %>
      
      <%=f.submit '新規登録',class: "btn btn-success btn-lg col-2" %>
    <%end%>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr class=" bg-light">
            <td class="pl-5"><strong>ジャンル</strong></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @genrse.each do |genre| %>
            <tr>
              <td><%=genre.name %></td>
              <td><%=link_to "編集する",edit_admin_genrse_path(genre.id),class: "btn btn-success" %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>