<div class="container px-5 pt-5">
  <div class="col-md-9">
    <h4 class="bg-secondary col-4 text-white px-0 mb-5 text-center">注文情報入力</h4>
  </div>
  
  <div class="col-md-12">
    <%=form_with model: @order,url: confirm_orders_path do |f| %>
      <%=f.hidden_field :postage, :value=>800 %>
      <h4 class="font-weight-bold">支払方法</h4>
      <%=f.radio_button :payment_method,Order.payment_methods.key(0) %>
      <%=f.label :payment_method,Order.payment_methods_i18n[:credit_card] %><br>
      
      <%=f.radio_button :payment_method,Order.payment_methods.key(1) %>
      <%=f.label :payment_method,Order.payment_methods_i18n[:transfer] %>
      
      <h4 class="font-weight-bold">配送先</h4>
      <div>
        <%=f.radio_button :select_address, 0 %>
        <%=f.label :select_address, "ご自身の住所" %>
        <div class="col-md-9">
          <div class="row">
            <div class="col-3">
              <p>
                〒<%=current_customer.postal_code %> <%=current_customer.address %><br>
                <%=current_customer.last_name %><%=current_customer.first_name %>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div>
        <%=f.radio_button :select_address, 1 %>
        <%=f.label :select_address, "登録済み住所から選択" %>
        <div>
          <%=f.select :address_id,options_from_collection_for_select(Address.where(customer_id: current_customer),:id,:address_display) %>
        </div>
      </div>
      
      <div>
        <%=f.radio_button :select_address, 2 %>
        <%=f.label :select_address, "新しいお届け先" %>
        <div class="col-md-9">
          <div class="row">
            <div class="col-3">
              <%=f.label :delivery_postal_code,"郵便番号(ハイフンなし)",class: "control-label" %>
            </div>
            <div class="col-4">
              <%=f.text_field :delivery_postal_code,class: "form-control" %>
            </div>
          </div>
        </div>
        
        <div class="col-md-9">
          <div class="row">
            <div class="col-3">
              <%=f.label :delivery_address,"住所",class: "control-label" %>
            </div>
            <div class="col-4">
              <%=f.text_field :delivery_address,class: "form-control" %>
            </div>
          </div>
        </div>
        
        <div class="col-md-9">
          <div class="row">
            <div class="col-3">
              <%=f.label :delivery_name,"宛名",class: "control-label" %>
            </div>
            <div class="col-4">
              <%=f.text_field :delivery_name,class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      
      
      <%=f.submit '確認画面へ進む' %>
    <%end%>
  </div>
</div>